@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
/* reset */
a{text-decoration: none;color: inherit;}
/* font */
body{font: 12px "Noto Sans KR", sans-serif; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* common */
.inner{max-width: 1200px;margin: 0 auto;}

/* 변수 */
$main-color:#ffa143;
$sub-color:#d9d9d9;
$back-color:#e5e5e5;
$black-color:#00020e;
$white-color:#f3f6ff;
$roboto-font:"Roboto", sans-serif;
$Space-font:"Space Grotesk", sans-serif;
$font-size-10px:0.6rem;
$font-size-14px:0.8rem;
$font-size-16px:1rem;
$font-size-20px:1.25rem;
$font-size-24px:1.5rem;
$font-size-32px:2rem;
$font-size-40px:2.5rem;
$font-size-50px:3.12rem;
$font-size-64px:4rem;
$font-size-80px:5rem;
$font-size-96px:6rem;

/* font-Responsive */

// 작은 모바일
:root{font-size: 12px;}
/* 중간 화면 (예: 태블릿) */
@media (min-width: 900px) {
  :root {font-size: 14px;}
}
/* 큰 화면 (예: 데스크탑) */
@media (min-width: 1200px) {
  :root {font-size: 16px;}
}

/* 변수 */
@mixin title-h2{
  width: 100%;
  position: absolute;
  font-size: $font-size-64px;
  font-weight: bold;
  color: $main-color;
  top: 50%;
  text-align: center;
  transform: translateY( -50%);
  text-decoration: underline;
  text-underline-offset: 20px;
  z-index: 30;
}
